.texto1 .letra, .listaMusica {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  color: aliceblue; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }

body {
  width: 99vw;
  background-color: #131212;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  text-align: start; }

/* logo */
.logo {
  width: 100vw -3vw;
  height: 25vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.imagenLogo1 {
  width: 25vw;
  opacity: 0.5; }

.fPage {
  padding-left: 20px;
  color: #7e8083;
  background-color: #252a2e; }

.fijo {
  width: 99vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 19% 15%;
  grid-column-gap: 15px;
  background-image: url("../img/irlanda.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

/* barra de navegacion */
.gridHeader {
  max-width: 99vw; }

.barraNavegacion :hover {
  background-color: #5F9EA0;
  transform: scale(1px); }

.barraNavegacion .navDes1 {
  color: cornflowerblue;
  background-color: black;
  text-shadow: 2px 2px 5px #5F9EA0; }

.indexMayor {
  width: 99vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0 rem; }
  @media screen and (max-width: 1240px) {
    .indexMayor {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media screen and (max-width: 768px) {
    .indexMayor {
      grid-column: 1fr;
      grid-row: 2fr; } }
  .indexMayor .indexCaja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 60vh; }
    .indexMayor .indexCaja .sing--sing1 {
      color: #2d46cf; }
    .indexMayor .indexCaja .sing--sing2 {
      color: cornflowerblue; }
    .indexMayor .indexCaja .sing--sing3 {
      color: #9baada; }
    .indexMayor .indexCaja .sing--sing4 {
      color: lime; }
    .indexMayor .indexCaja .sing--sing5 {
      color: aqua; }

.imgf1 {
  background-image: url("../img/kodaline1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.texto1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
  width: 100vw -70vw;
  height: 60vh;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.493), #131212), url("../img/concierto3red.jpg");
  background-size: cover; }
  @media (max-width: 568px) {
    .texto1 {
      margin: 20px 10px 0px 0px;
      text-align: center;
      width: 100vw -50vw;
      height: 30vh;
      overflow: hidden; } }
  .texto1 .letra {
    margin-right: 1.1vw;
    margin-left: 1vw;
    padding-top: 10;
    height: 20vh;
    font-family: "Noto Sans", sans-serif;
    font-style: italic; }
    @media screen and (max-width: 1240px) {
      .texto1 .letra {
        font-size: 2rem; } }
  .texto1 .tema1 {
    top: 0.5rem;
    transition-duration: 5s;
    transform: rotate(-5deg);
    text-align: left;
    font-style: bold;
    font-size: 1.1rem; }
    .texto1 .tema1:hover {
      transform: rotate(0deg); }
  .texto1 .tema2 {
    text-align: right;
    transition-duration: 5s;
    transform: rotate(5deg); }
    .texto1 .tema2:hover {
      transform: rotate(0deg); }
  .texto1 .tema3 {
    color: #116280;
    animation: traslaizq 10s;
    position: relative;
    left: 100px;
    transition-duration: 5s; }

@keyframes traslaizq {
  0% {
    left: -300px;
    top: 0px; }
  100% {
    left: 100px;
    top: 0px; } }
    .texto1 .tema3:hover {
      transform: rotate(5deg); }
  .texto1 .tema4 {
    color: #64edbf;
    animation: traslader 10s;
    position: relative;
    font-family: "Hind Siliguri", sans-serif;
    font-family: "Lobster", cursive;
    right: 300px; }

@keyframes traslader {
  0% {
    right: -500px; }
  100% {
    right: 300px; } }
    .texto1 .tema4:hover {
      transform: scale(1.05); }
  .texto1 .tema5 {
    color: #219977;
    animation: dearriba 10s;
    position: relative;
    right: -300px;
    top: -50px; }

@keyframes dearriba {
  0% {
    right: -300px;
    top: -50px; }
  50% {
    right: 200px;
    top: 0px; }
  100% {
    right: -300px;
    top: -50px; } }
    .texto1 .tema5:hover {
      transform: scale(1.1); }

.gridError {
  width: 99vw;
  height: 70vh;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #131212), url(/img/concierto3red.jpg);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.textoError {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100vw -70vw;
  height: 60vh;
  overflow: hidden;
  font-size: 3rem; }

.paginaContacto {
  max-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #131212), url("../img/concierto3red.jpg");
  background-size: cover;
  padding-bottom: 20vh; }

.contacto {
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.5);
  padding: 7px;
  max-width: 30vw;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  justify-content: end; }
  .contacto textarea {
    margin-bottom: 10px; }
  @media screen and (max-width: 1240px) {
    .contacto {
      max-width: 50vw; } }
  @media screen and (max-width: 768px) {
    .contacto {
      max-width: 50vw; } }
  @media screen and (max-width: 568px) {
    .contacto {
      max-width: 50vw; } }

.discografia {
  flex-wrap: wrap; }

.albums {
  margin-left: 10vw;
  padding: 2rem;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0rem; }
  @media (max-width: 1240px) {
    .albums {
      margin-left: 20vw;
      padding-left: 3rem;
      grid-template-columns: 1fr;
      grid-gap: 1rem; } }
  @media (max-width: 768px) {
    .albums {
      margin-left: 20vw;
      padding-left: 3rem;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      background-color: black; } }
  @media (max-width: 568px) {
    .albums {
      margin-left: 25vw;
      padding-left: 3rem;
      grid-template-columns: 1fr;
      grid-gap: 1rem; } }
  @media (max-width: 568px) {
    .albums {
      grid-template-columns: 1fr; } }
  .albums .fotoAlbums {
    background-color: black;
    box-shadow: 10px 10px 10px grey;
    border-radius: 5px;
    width: 400px;
    color: aquamarine; }
    @media (max-width: 1240px) {
      .albums .fotoAlbums .fotoAlbums img {
        padding: 10px;
        width: 200px; } }
    @media (max-width: 768px) {
      .albums .fotoAlbums .fotoAlbums img {
        padding: 10px;
        width: 70px; } }
    @media (max-width: 568px) {
      .albums .fotoAlbums .fotoAlbums img {
        padding: 5px;
        width: 50px; } }

.disco {
  height: auto;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: flex-start;
  flex-wrap: wrap;
  overflow: hidden; }
  @media (max-width: 1240px) {
    .disco {
      flex-direction: rows;
      padding-left: 10px; } }
  @media (max-width: 768px) {
    .disco {
      margin-left: 5px; } }
  @media (max-width: 568px) {
    .disco {
      margin-left: 5px; } }

.disco1 {
  color: #5F9EA0;
  font-family: "Noto Sans", sans-serif; }
  @media screen and (max-width: 568px) {
    .disco1 {
      font-size: 0.8rem;
      line-height: 1rem; } }

.mainEventos .eventoTitulo {
  margin: auto;
  padding-left: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0rem;
  background: #516d83;
  background: linear-gradient(270deg, #516d83 35%, #2f3637 100%);
  max-width: 65vw;
  border-radius: 0px 30px;
  color: cornflowerblue; }

.mainEventos .eventosMayor {
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 1.5vh;
  max-width: 65vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  background: linear-gradient(90deg, #55c1c4 0%, cornflowerblue 50%, #2d46cf 100%);
  border-radius: 30px 0px; }
  .mainEventos .eventosMayor .eveHij {
    padding: 2rem;
    font-size: 2rem;
    align-content: center;
    justify-content: center;
    border-left: dash 1px black;
    overflow: hidden; }

.galeriaMayor {
  background: #516d83;
  background: linear-gradient(176deg, #516d83 32%, #2f3637 100%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto(300px);
  grid-column-gap: 15px;
  grid-auto-rows: 300px;
  padding: 20px;
  grid-gap: 15px; }

.itemGal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 5px black; }
  .itemGal:hover {
    transform: scale(1.02); }

.galhij:nth-child(4) {
  grid-row-start: span 2; }

.galhij:nth-child(5) {
  grid-row-start: span 2; }

.galhij:nth-child(8) {
  grid-column-start: span 2; }

@media screen and (max-width: 768px) {
  .galeriaMayor {
    grid-template-columns: repeat(3, 1fr); }
    .galeriaMayor .galhij:nth-child(1) {
      grid-column-start: span 2; }
    .galeriaMayor .galhij:nth-child(4) {
      grid-column-start: span 2;
      grid-row-start: span 1; }
    .galeriaMayor .galhij:nth-child(5) {
      grid-column-start: span 2;
      grid-row-start: span 1; }
    .galeriaMayor .galhij:nth-child(8) {
      grid-column-start: span 2; }
    .galeriaMayor .galhij:nth-child(13) {
      grid-column-start: span 2; } }

.historiaDeLaBanda {
  margin: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  text-align: justify;
  color: #7e8083;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3rem;
  overflow: hidden; }
  .historiaDeLaBanda .imgHis {
    padding: 10px;
    width: 40vw;
    float: left; }
  .historiaDeLaBanda .imgHis1 {
    margin: 5px;
    width: 20vw;
    float: right; }
  @media screen and (max-width: 1240px) {
    .historiaDeLaBanda {
      margin: auto;
      font-size: 1.1rem; } }
  @media screen and (max-width: 768px) {
    .historiaDeLaBanda {
      margin: auto;
      font-size: 1.1rem; } }
  @media screen and (max-width: 568px) {
    .historiaDeLaBanda {
      margin: auto;
      font-size: 1.1rem; } }

.play1 {
  height: auto;
  margin: auto;
  max-width: 85vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  padding: 10px;
  grid-gap: 2rem; }

.playA iframe {
  width: 100%;
  height: 100%; }
