$colorUno:#5F9EA0;
$colorDos:#7e8083;
$colorTres:black;
$colorCuatro:aliceblue;
$colorCinco:aqua;
$colorSeis:cornflowerblue;
$colorSiete:rgb(155, 170, 218);
$colorOcho:lime;
$colorNueve:#252a2e;
$colorDiez:#116280;
$colorOnce:#219977;
$colorDoce:rgba(45, 70, 207, 1);
$colorTrece:rgb(100, 237, 191);
$desktop:1240px;
$tablet:768px;
$celular:568px;
$textSize:1rem;
$textSize1:1.1rem;  
$wt:100vw;
$singsColor:( 
    sing1:$colorDoce,
    sing2:$colorSeis,
    sing3:$colorSiete,
    sing4:$colorOcho,
    sing5:$colorCinco,
)




