.paginaContacto {
  max-height: 100vh;

  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgb(19, 18, 18)
    ),
    url("../img/concierto3red.jpg");
  background-size: cover;
  padding-bottom: 20vh;
}
.contacto {
  border-radius: 7px;
  // border: $colorNueve 2px solid;
  background:rgba(0,0,0,0.5) ;
  padding: 7px;
  max-width: 30vw;
  margin:auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $colorCuatro;
  justify-content: end;
  textarea{
    margin-bottom: 10px;
  }
    @media screen and(max-width:$desktop) {
    margin-left: 17%;
    max-width: 50vw;

  }
  @media screen and(max-width:$tablet) {
    margin-left: 15%;
    max-width: 50vw;

  }
  @media screen and(max-width:$celular) {
    margin-left: 13%;
    max-width: 50vw;
  }
}
