.discografia {
  @include flex(flex, column, flex-start, flex-start);
  flex-wrap: wrap;
}
.albumsMay{
  width: 90%;
  margin:20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:1fr;
}
.albums{
  margin-left: 10vw;
  padding: 2rem;
  width: 60vw;
  background-color:grey;
  @include grid (grid,1fr 1fr,1fr,1rem);
  @media (max-width: $tablet) {
    max-width: 10vw;
    grid-template-columns: 1fr;
    color: crimson;
  }
    @media (max-width: $celular) {
    background-color: greenyellow;
    grid-template-columns: 1fr;
  }
  .fotoAlbums {
    box-shadow: 10px 10px 10px grey;
    border-radius: 5px;
    padding: 15px;
    width: 400px;
    color: aquamarine;
    .fotoAlbums img {
      @media (max-width: $desktop) {
        padding: 10px;
        width: 200px;
      }
      @media (max-width: $tablet) {
        padding: 7px;
        width: 70px;
      }
      @media (max-width: $celular) {
        padding: 5px;
        width: 50px;
      }
    }
  }
}
.disco {
  margin-left: 30px;
  @include flex(flex, column, flex-start, flex-start);
  flex-wrap: wrap;
  overflow: hidden;
}

.disco1 {
  color: $colorUno;
  font-family: "Noto Sans", sans-serif;
  @media screen and(max-width: $celular) {
    font-size: $textSize - 0.2;
    line-height: 1rem;
    color: crimson;
  }
}
.listaMusica {
  @extend %fontUno;
}
