.discografia {
  @include flex(flex, column, flex-start, flex-start);
  flex-wrap: wrap;
}
.albums {
  padding: 10vh;
  @include flex(flex, row, flex-start, flex-start);
  @media (max-width:$tablet) {
            max-width: 10vw;
  }
  .fotoAlbums {
    box-shadow: 10px 10px 10px grey;
    border-radius: 5px;
    padding: 20px;
    width: 50vw;
    .fotoAlbums img {

      @media (max-width:$desktop) {
        padding: 10px;
        width: 40vw;
      }
      @media (max-width:$tablet) {
        padding: 7px;
        width: 30vw;
      }
      @media (max-width:$celular) {
        padding: 5px;
        width: 20vw;
      }
    }
  }
}
.disco {
  margin-left: 30px;
  @include flex(flex, column, flex-start, flex-start);
  flex-wrap: wrap;
  overflow: hidden;
}

.disco1 {
  color: $colorUno;
  font-family: "Noto Sans", sans-serif;
  @media screen and(max-width: $celular) {
    font-size: $textSize - 0.2;
    line-height: 1rem;
  }
}
.listaMusica {
  @extend %fontUno;
  color: aliceblue;
}
