.historiaDeLaBanda {
  // estilo del texto
  margin: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  text-align: justify;
  @include style($colorDos, $textSize, 300);
  line-height: 1.3rem;
  overflow: hidden;
  // estilo de las imagenes
  .imgHis {
    width: 40vw;
    float: left;
    margin: 10px;
  }
  .imgHis1 {
    margin: 5px;
    width: 10vw;
    float: right;
  }
  @media screen and(max-width:$desktop) {
    margin:auto;
    font-size: $textsixe1;
  }
  @media screen and(max-width:$tablet) {
    margin:auto;
    font-size: $textsixe1;
  }
  @media screen and(max-width:$celular) {
    margin:auto;
    font-size: $textsixe1;
  }
}
