// gridpaginaprincipal separa imagen de cuadro letras canciones
.indexMayor {
  width: 99vw;
  @include grid(grid, 1fr 1fr, 1fr, 0 rem);
  @media screen and(max-width:$desktop) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  
  }
    @media screen and(max-width:$tablet) {
    grid-column: 1fr;
    grid-row: 2fr;
      }
  // separacion entre imagen y cuadro texto
  .indexCaja {
    @include flex(flex, column, center, center);
    height: 60vh;
    @each $texto-sing, $color in $singsColor {
      .sing--#{$texto-sing} {
        color: $color;
      }
    }

  }
}
// imagen derecha
.imgf1 {
  background-image: url("../img/kodaline1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
// cuadro texto canciones distintos estilos
// imagen de fondo
.texto1 {
  @include flex(flex, column, space-around, center);
  overflow: hidden;
  width: $wt -70vw;
  height: 60vh;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.493),
      rgb(19, 18, 18)
    ),
    url("../img/concierto3red.jpg");
  background-size: cover;
  @media (max-width: $celular) {
    margin: 20px 10px 0px 0px;
    text-align: center;
    width: $wt -50vw;
    height: 30vh;
    overflow: hidden;
  }
  // textos
  .letra {
    margin-right: 1.1vw;
    margin-left: 1vw;
    padding-top: 10;
    height: 20vh;
    font-family: "Noto Sans", sans-serif;
    font-style: italic;
    @extend %fontUno;
      @media screen and(max-width:$desktop){
        font-size: 2rem;
      }
  }
  .tema1 {
    top: 0.5rem;
    transition-duration: 5s;
    transform: rotate(-5deg);
    text-align: left;
    font-style:bold;
    &:hover {
      transform: rotate(0deg);
    }
    font-size: $textSize + 0.1;
  }
  .tema2 {
    text-align: right;
    transition-duration: 5s;
    transform: rotate(5deg);
    &:hover {
      transform: rotate(0deg);
    }
  }
.tema3{
  color:$colorDiez;
  animation: traslaizq 10s;
  position: relative;
  left: 100px;
  @keyframes traslaizq {
  0%   { left:-300px; top:0px;}
  100%  {left:100px; top:0px;} 
  }
      transition-duration: 5s;
  &:hover {
      transform: rotate(5deg);
    }
}
.tema4{
  color:$colorTrece;
  animation: traslader 10s;
  position: relative;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Lobster', cursive;;
  right: 300px;
  @keyframes traslader {
  0%   { right:-500px;}
  100%  {right:300px;} 
  }
  &:hover {
  transform: scale(1.05);
    }
}
.tema5{
  color:$colorOnce;
  animation: dearriba 10s;
  position: relative;
  right: -300px;
  top:-50px;
  @keyframes dearriba {
  0%   { right:-300px; top:-50px;}
  50%  {right:200px; top:0px;}
  100% { right:-300px; top:-50px;}
  }
    &:hover {
  transform: scale(1.1);
    }
}

}
// agrego grid de pagina error
.gridError {
  width: 99vw;
  height: 70vh;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgb(19, 18, 18)
    ),
    url(/img/concierto3red.jpg);
  @include grid(grid, 1fr, 1fr, 0px);
  @include flex(flex, column, center, center);
}
.textoError {
  @include flex(flex, column, space-around, center);
  width: $wt -70vw;
  height: 60vh;
  overflow: hidden;
  font-size: 3rem;
}
