.indexMayor {
  width: 99vw;
  @include grid(grid, repeat(auto-fill,minmax(45vw,1fr)), 1fr, 0 rem);
  @media screen and(max-width:$tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  
  }
    @media screen and(max-width:$tablet) {
    grid-column: 1fr;
    grid-row: 2fr;
      }
  .indexCaja {
    @include flex(flex, column, center, center);
    height: 60vh;
    @each $texto-sing, $color in $singsColor {
      .sing--#{$texto-sing} {
        color: $color;
      }
    }
    // @media screen and(max-width:$desktop) {
    //   background-color: orange;
    // }
    // @media screen and(max-width:$tablet) {
    //   background-color: $colorUno;
    // }
    // @media (max-width: $celular) {
    //   background-color: greenyellow;
    // }
    // @media (max-width: 350px) {
    //   background-color: $colorSeis;
    // }
  }
}
.imgf1 {
  background-image: url("../img/kodaline1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.texto1 {
  @include flex(flex, column, space-around, center);
  overflow: hidden;
  width: $wt -70vw;
  height: 60vh;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgb(19, 18, 18)
    ),
    url("../img/concierto3red.jpg");
  background-size: cover;
  @media (max-width: $celular) {
    margin: 20px 10px 0px 0px;
    text-align: center;
    width: $wt -50vw;
    height: 30vh;
    overflow: hidden;
  }
  .letra {
    margin-right: 1.1vw;
    margin-left: 1.1vw;
    padding-top: 10;
    height: 20vh;
    font-family: "Noto Sans", sans-serif;
    font-style: italic;
    @extend %fontUno;
    @media screen and(max-width: $celular) {
      font-size: $textSize - 0.2;
      line-height: 1rem;
    }
  }
  .tema1 {
    border-radius: 15px;
    top: 0.5rem;
    transition-duration: 5s;
    transform: rotate(-5deg);
    text-align: left;
    color: $colorTres;
    &:hover {
      transform: rotate(0deg);
    }
    font-size: $textSize + 0.1;
  }
  .tema2 {
    text-align: right;
    color: $colorTres;
    transition-duration: 5s;
    transform: rotate(5deg);
    &:hover {
      transform: rotate(0deg);
    }
  }
}

.gridError {
  width: 99vw;
  height: 70vh;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgb(19, 18, 18)
    ),
    url(/img/concierto3red.jpg);
  @include grid(grid, 1fr, 1fr, 0px);
  @include flex(flex, column, center, center);
}
.textoError {
  @include flex(flex, column, space-around, center);
  width: $wt -70vw;
  height: 60vh;
  overflow: hidden;
  font-size: 3rem;
}
