.play1 {
  // width: 98vw;
  height: auto;
  // margin: 2px 2px 2px 2px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 300px;
  padding: 10px;
  grid-gap: 15px;
  //   @media (max-width: $tablet) {
  //   padding: 12px;
  //   height: 50vw;
  // }
}
.playA iframe {
  width: 100%;
  height: 100%;
  //   @media (max-width: $tablet) {
  //   height: 40vw
  // }
}

